/* src/components/SearchBar.module.css */
.SearchBar {
    margin: 20px 0;
  }
  
  .SearchBar-sort-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .SearchBar-sort-options ul {
    list-style-type: none;
    display: flex;
    padding: 0;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .SearchBar-sort-options li.active {
    font-weight: bold;
    color: white;
    background-color: #0073bb;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .SearchBar-fields input {
    padding: 10px;
    font-size: 14px;
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .SearchBar-submit {
    display: flex;
    justify-content: center;
  }
  
  .SearchBar-submit button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0073bb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .SearchBar-submit button:hover {
    background-color: #005f99;
  }
  