/* src/components/SearchBar.css */
.SearchBar {
    margin: 20px 0;
  }
  
  .SearchBar-sort-options ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .SearchBar-sort-options li.active {
    font-weight: bold;
    color: white;
    background-color: #0073bb;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .SearchBar-fields input {
    padding: 10px;
    font-size: 14px;
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .SearchBar-submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .SearchBar-submit button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0073bb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .SearchBar-submit button:hover {
    background-color: #005f99;
  }
  